.volumeButton {
    display: flex;
    padding: 5px;
    cursor: pointer;
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 0.5);

    input[type = "range"] {
        display: none;
        cursor: pointer;
        accent-color: #ffffff; 
    }
}

.extraMargin {
    margin-bottom: 10px;
    margin-right: 2px;
}

.volumeButton:hover {
    gap: 5px;
    
    input[type = "range"] {
        display: flex;
    }
}

.progressBar {
    position: absolute;
    bottom: -5px;
    z-index: 99999;
    width: 100%;
    margin: auto;
    cursor: pointer;
    accent-color: #ffffff; 
}

#toggleMute {
    user-select: none;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;

    svg {
        aspect-ratio: 1/1;
        width: 22px;
        height: auto;
    }
}